<div class="m-5">
    <%=params[:answer].html_safe %>
    <br>
    <br>
    <br>

    <%=@answer.html_safe %>
    <br>
    <br>
    <%= link_to ask_path do %>
    <div class="shad">Want something else?</div>
    <% end %>
</div>
