<h1 class="m-3">Stupid Coaching</h1>
<h2 class="m-3">Let's train your booty !!</h2>
<form action="/answer" data-turbo="false" class="m-3">
  <input type="text" name="answer" placeholder="write to your Coach !">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>